body {
    display: grid;
    grid-template-rows: 3fr 1fr 5fr 4fr;
    grid-template-columns: repeat(8, 1fr);
    margin: 0;
}

header {
    grid-column: 1/9;
    grid-row: 1/2;
    background-color: rgba(187, 125, 10, 0.74);
    font-size: 20px;
    padding: 3%;
}

nav {
    grid-column: 1/9;
    grid-row: 2/3;
    justify-content: space-around;
    background-color: burlywood;
    font-size: 20px;
    padding: 1% 1% 1% 7%;
}

nav a {
    margin-left: 8%;
    margin-right: 9%;
}

main {
    grid-column: 1/6;
    grid-row: 3/4;
    font-size: 20px;
    padding: 20.5%;
    text-align: justify;
}

div {
    grid-column: 6/9;
    grid-row: 3/4;
    background-color: grey;
    color: black;
    font-size: 20px;
    padding: 20.5%;
}

footer {
    grid-column: 1/9;
    grid-row: 4/5;
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 5.6%;
}