@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
    font-family: "Roboto", sans-serif;
}

header {
    background-color: black;
    color: #D19D0E;
    padding: 10px;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #D19D0E;
	position: absolute;
	top: 1rem;
	right: 1rem;
    margin-top: 12px;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

nav a:hover {
    background-color: wheat;
    color: #770303
}

@media screen and (max-width: 43.5em) {
    header h1 {
        font-size: 1.5rem;
        margin-left: 1rem;
    }

    nav {
        display: flex;
        flex-direction: column;
        list-style: none;
    }

    nav a {
        display: none;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
    }

    .open a {
        display: block;
    }
    
    main {
        display: grid;
        grid-template-columns: 320px;
        text-align: center;
        justify-content: center;
    }
    
    main figure {
        margin: 0 10px;
    }
    
    img {
        width: 300px;
        height: 80%;
    }
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 17px;
}


